{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1 class="col-sm-6">
            Symfony DX Dashboard
            <small>Making Symfony exceptional one commit at a time</small>
        </h1>

        <div class="col-sm-6 issues-filter">
            <form action="{{ path('homepage') }}" method="GET">
                <div class="input-group col-sm-12">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>

                    <input type="text" name="filter" class="form-control" value="{{ filter }}" placeholder="search by title or repository">

                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Search</button>
                        {% if filter %}
                            <a href="{{ path('homepage') }}" class="btn btn-danger" title="Clear filters">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        {% endif %}
                    </span>
                </div>
                <div class="col-sm-12">
                    <span class="help-block">
                        Use the wildcard <kbd>*</kbd> to search in the title and the repository name.
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li>
                <a href="#new" data-toggle="tab">
                    <span class="badge" style="background: #ee1111">
                        {{ new|length }}
                    </span>
                    New proposals
                </a>
            </li>
            <li class="arrow">&rarr;</li>
            <li class="active">
                <a href="#discussing" data-toggle="tab">
                    <span class="badge" style="background: #e3a21a">
                        {{ discussing|length }}
                    </span>
                    Active Discussions
                </a>
            </li>
            <li class="arrow">&rarr;</li>
            <li>
                <a href="#wip" data-toggle="tab">
                    <span class="badge" style="background: #00a300">
                        {{ wip|length }}
                    </span>
                    Work in Progress
                </a>
            </li>
            <li class="arrow">&rarr;</li>
            <li>
                <a href="#finished" data-toggle="tab">
                    <span class="badge" style="background: #1d1d1d">
                        {{ finished|length }}
                    </span>
                    Finished
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" id="new">
                {{ include('issues/_new.html.twig', { issues: new }) }}
            </div>

            <div class="tab-pane active" id="discussing">
                {{ include('issues/_discussing.html.twig', { issues: discussing }) }}
            </div>

            <div class="tab-pane" id="wip">
                {{ include('issues/_wip.html.twig', { issues: wip }) }}
            </div>

            <div class="tab-pane" id="finished">
                {{ include('issues/_finished.html.twig', { issues: finished }) }}
            </div>
        </div>
    </div>
{% endblock %}
