<p class="text-intro">
    These DX issues are being discussed but we haven't reached an agreement yet.
</p>

<div class="list-group">
{% for issue in issues %}
    <div class="row list-group-item">
        <div class="col-sm-8">
            <a href="{{ issue.url }}">
                <h4 class="list-group-item-heading">
                    {{ issue.title }}
                </h4>
                <p class="list-group-item-text">
                    <span class="badge">
                        {{ issue.repository }}
                    </span>
                    opened by <strong>{{ issue.author }}</strong>
                    on <strong>{{ issue.createdAt|date('d M') }}</strong>

                    <span class="badge">
                        {{ issue.comments }}
                    </span> comments
                </p>
            </a>
        </div>

        <div class="col-sm-4 issue-assign-to">
            <form action="{{ path('assign') }}" method="POST">
                <input type="hidden" name="issue_id" value="{{ issue.id }}" />

                <p class="col-sm-3 title">assign issue to</p>

                <div class="input-group col-sm-9">
                    <span class="input-group-addon">@</span>
                    <input type="text" name="assignee" class="form-control" placeholder="github username">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Assign</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
{% endfor %}
</div>
