<p class="text-intro">
    These DX proposals haven't received any comment yet.
</p>

<div class="list-group">
{% for issue in issues %}
<div class="list-group-item">
    <div class="row">
        <div class="col-sm-12 issue">
            <a href="{{ issue.url }}">
                <h4 class="list-group-item-heading">
                    {{ issue.title }}
                </h4>
                <p class="list-group-item-text">
                    <span class="badge">
                        {{ issue.repository }}
                    </span>
                    opened by <strong>{{ issue.author }}</strong>
                    on <strong>{{ issue.createdAt|date('d M') }}</strong>
                </p>
            </a>
        </div>
    </div>
</div>
{% endfor %}
</div>
