<p class="text-intro">
    These DX issues have been approved and they are being developed right now.
</p>

<div class="list-group">
{% for issue in issues %}
<div class=" list-group-item">
    <div class="row">
        <div class="col-sm-9 issue">
            <a href="{{ issue.url }}">
                <h4 class="list-group-item-heading">
                    {{ issue.title }}
                </h4>
                <p class="list-group-item-text">
                    <span class="badge">
                        {{ issue.repository }}
                    </span>
                    opened by <strong>{{ issue.author }}</strong>
                    on <strong>{{ issue.createdAt|date('d M') }}</strong>

                    <span class="badge">
                        {{ issue.comments }}
                    </span> comments
                </p>
            </a>
        </div>

        <div class="col-sm-9 hidden-content issue-add-pr">

            {# admin or issue assignee: show the form to edit the PR #}
            {% if app.user
                      and (
                          (app.session.get('githubUsername') in app_administrators)
                          or
                          (app.session.get('githubUsername') == issue.assignedTo)
                      ) %}

                <form action="{{ path('add_pr') }}" method="POST">
                    <input type="hidden" name="issue_id" value="{{ issue.id }}" />

                    <p class="col-sm-2 title">
                        {{ issue.pullRequest
                            ? 'change related Pull Request'
                            : 'add related Pull Request'
                        }}
                    </p>

                    <div class="input-group col-sm-10">
                        <input type="text" name="url" class="form-control" placeholder="http://github.com/[...]/[...]/pull/NNNNN" value="{{ issue.pullRequest }}">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Add</button>
                        </span>
                    </div>
                </form>

            {# anonymous users or users which aren't assigned to the issue #}
            {% else %}

                <p class="col-sm-2 title">
                    Associated PR
                </p>

                <div class="col-sm-10">
                    <input type="text" disabled class="form-control" value="{{ issue.pullRequest|default('No PR has been assigned yet to this issue') }}">
                </div>

                {# anonimous user: show the PR and the login button #}
                {% if not app.session.get('githubUsername') %}
                    <a class="btn btn-primary btn-sl-connect" href="{{ url('sensiolabs_connect_new_session') }}?target=http://dx.dev/app_dev.php/session/callback">
                        Login with SensioLabsConnect
                    </a>
                    {{ issue.pullRequest
                        ? 'to change the Pull Request associated with this issue'
                        : 'to associate a Pull Request with this issue'
                    }}
                {% endif %}

            {% endif %}

        </div>

        <div class="col-sm-2 issue-assigned-to">
            <p>
                <small>assigned to</small>
                @{{ issue.assignedTo }}
            </p>
        </div>

        <div class="col-sm-1 issue-has-pr">
            <p>
                <small>has PR?</small>
                {% if issue.pullRequest %}
                    <a href="{{ issue.pullRequest }}">
                        #{{ issue.pullRequest|trim('/')|split('/')|last }}
                    </a>
                {% else %}
                    <span class="no">&times;</span>
                {% endif %}
            </p>
        </div>

    </div>
</div>
{% endfor %}
</div>
